/* CSS styles for the home page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc; /* Grey background */
    color: black; /* Black text color */
}

header {
    background-color: #FFD6BA; /* Light Orange */
    color: black; /* Black text color */
    padding: 10px 20px; /* Add padding to the left and right */
    display: flex;
    justify-content: space-between; /* Spread items horizontally */
    align-items: center; /* Align items vertically */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px; /* Add space between navigation items */
}

nav a {
    color: black; /* Black text color */
    text-decoration: none;
    font-weight: bold;
}

section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section h2 {
    background-color: #046865; /* Updated background color */
    color: white;
    padding: 10px;
}

#product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh; /* Adjust the height as needed */
    flex-wrap: wrap;
}

.product {
    width: 200px; /* Adjusted width for five boxes in a row */
    height: 150px; /* Adjusted height */
    margin: 10px;
    padding: 10px;
    border: 1px solid #000; /* Black border */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
}
