body {
    font-family: Arial, sans-serif;
    background-color: #808080; /* Grey */
    color: black;
}

nav {
    background-color: white; /* White for nav bar */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adding a subtle shadow for depth */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: #000; /* Dark text for contrast */
    font-weight: bold;
}

.main-content {
    padding: 20px;
    background-color: #f0f0f0; /* Lighter grey for contrast */
    border-radius: 8px; /* Rounded corners for modern look */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adding shadow for depth */
}

h1 {
    color: #000080; /* Dark blue */
    background-color: transparent; /* Removing background */
    padding-bottom: 20px;
    border-bottom: 2px solid #000080; /* Adding a bottom border */
}

.product {
    background-color: #d9d9d9; /* Slightly lighter grey */
    margin-bottom: 10px; 
    padding: 20px; 
    border-radius: 5px; /* Rounded corners */
    border: none; /* Removing black outline */
}

.subtotal {
    display: flex; 
    justify-content: space-between; 
    background-color: #f0f0f0; /* Lighter grey */
    color: black; /* Changing text color for contrast */
    padding: 15px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adding shadow */
}

button {
    margin-top: 10px; 
    padding: 10px; 
    background-color: #666; /* Keeping button color */
    color: white;
    border: none; /* Removing border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor change on hover */
}

.quantity, .remove {
    margin: 10px 0; 
}

.checkout-button,
.previous-order-button {
    background-color: #2b51ec; /* Changed to a blue shade */
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
