ul{
    list-style-type: none;
    margin:0;
    padding:10px 10px;
    overflow:hidden;
    background-color:#FFD6BA;

}
li{
    float:left;
}
li a{
    display:block;
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #94B9AF;
    padding: 14px 16px;
}

.active{
    background-color:aqua;
}

