@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');

:root {
    --dark-red: #200;
    --dark-grey: #080808;
    --main-white: #d4d4d4;
    --main-red: rgb(114, 2, 2);
    --light-red: rgb(198, 13, 13);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /*
  980px /16px == 61.25em;
  1200px / 16px == 75em 
  */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 55%;
    }
  }
  
  body {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    font-family: 'Cambay', sans-serif;
  }
  
  h1,
  h2 {
    font-weight: 100;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75rem) {
    .nav {
      justify-content: center;
    }
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 20px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .nav-list a:hover {
    background-color: var(--light-red);
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  .home-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-grey);
    background-image: linear-gradient(65deg, #232321 0%, #121211 100%);
    color: rgba(255, 255, 255, 0.8);
  }
  
  
  .home-sec > p {
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    color: var(--main-red);
  }
  
  span {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .projects-sec {
    text-align: center;
    padding: 10rem 2rem;
    background: rgba(0, 0, 0, 0.8);
  }
  
  .projects-sec-header {
    max-width: 640;
    margin: 0 auto 6rem auto;
    border-bottom: 2px solid var(--main-white);
  }
  
  @media (max-width: 28.7em) {
    .projects-sec-header {
      font-size: 4rem;
    }
    .home-sec {
      height: 100vh;
      }
  }

  .projects {
    background: var(--dark-grey);
    color: #FFFFFF;
  }

  .projects-sec{
    color: #ffffff;
  }

.projects-sec-header{
  color: darkred;
}

  .skills-sec{
    background-color: #474646;
    color: #FFFFFF;
    padding: 20px;
  }
  
  .skills-sec{
    margin-top: 0;
  }
  
  .skills-list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .skill{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .skill img{
    margin-right: 10px;
  }
  
  .skill h3{
    margin: 0;
    font-size: 24px;   
  }
  
  .skill p{
    margin: 0;
    font-size: 18px;
  }
  
 

  .founders-sec {
    background-color: #817f7f;
    color: #FFFFFF;
    padding: 20px;
  }
  
  .founders-sec h2 {
    margin-top: 0;
  }
  
.founders-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.founder {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .founder img {
    margin-right: 10px;
  }
  
  .founder h3 {
    margin: 0;
    font-size: 24px;
  }
  
  .founder p {
    margin: 0;
    font-size: 18px;
  }

  .reviews-sec {
    background-color: rgb(190, 187, 187);
    color: black;
    padding: 20px;
  }
  
  .reviews-sec h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .reviews-sec .review {
    margin-bottom: 20px;
  }
  
  .reviews-sec .review h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .reviews-sec .review p {
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
  }
  
 /* Background and text styles for the body element */
body {
  background-color: lightgrey;
  color: black;
}

/* Container styles */
.container {
  width: 80%;
  margin: auto;
}

/* Header styles */
header {
  text-align: center;
  
}

/* Title styles */
#title {
  font-size: 36px;
  margin-top: 50px;
}

/* Form styles */
#signup-form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

/* Label styles */
label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.option {
  font-size: 14px;
}

/* Input styles */
.form-control {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/* Textarea styles */
.input-textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/* Submit button styles */
.Submit-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.Submit-button:hover {
  background-color: grey;
}

  




  .bt {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
    margin: auto;
  }
  
  
  .contact-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background: var(--dark-grey);
    color: darkred;
  }
  
  .contact-sec-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75rem) {
    .contact-sec-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-sec-header > p {
    font-style: italic;
    font-size: 2rem;
  }
  
  .cont-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
  .cont-details {
    font-size: 24px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .cont-details:hover {
    transform: translateY(8px);
  }
  
  footer {
    font-size: 2.2rem;
  }   